{
    "spaceBeforeFunctionParen": true,
    "generatorStarSpacing": true,
    "yieldStarSpacing": true,
    "singleQuote": true,
    "semi": false,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "trailingComma": "none"
}
